<h2 class="center">&Iacute;ndice</h2>
<hr/>
<ul class="listado">
    <li><a href="{{app.path}}/Cursos/help">Cursos</a></li>
    <li><a href="{{app.path}}/TiposFormacion/help">Tipos de Formacion</a></li>
</ul>
