{% extends "_global/layout.html.twig" %}

{% block title parent() ~ " - Web" %}

{% block content %}
<div class="panel1" style="background-image: url(images/web.jpg); background-position: right top; background-repeat: no-repeat;">
    <p id="titulo">Dise&ntilde;o personalizado de su P&aacute;gina Web corporativa</p>
    <p style="padding-right: 235px;">Nos ocupamos de la realizaci&oacute;n de la p&aacute;gina Web de su empresa en un corto per&iacute;odo de tiempo y con un dise&ntilde;o exclusivo y personalizado.</p>
    <p style="padding-right: 235px;">Para ello contamos con un equipo multidisciplinar compuesto por dise&ntilde;adores, programadores, y especialistas en marketing digital. Las caracter&iacute;sticas de la web son:</p>

    <p>1) Diferentes dise&ntilde;os personalizables con los colores e
        im&aacute;genes de su empresa y con la posibilidad de
        decirle a los dise&ntilde;adores ex&aacute;ctamente que l&iacute;neas de
        dise&ntilde;o quiere que tenga su p&aacute;gina Web.
        Su p&aacute;gina web se puede prever en Multi-idioma, en
        todas sus p&aacute;ginas. Compromiso con los est&aacute;ndares W3C.</p>

    <p>2) Secciones propuestas:</p>
    <ul>
        <li>P&aacute;gina de Inicio</li>
        <li>Qui&eacute;nes somos</li>
        <li>Qu&eacute; ofrecemos</li>
	<li>D&oacute;nde estamos</li>
	<li>Ofertas y promociones</li>
	<li>C&aacute;talogo de productos y cesta de la compra</li>
	<li>Novedades</li>
	<li>Formulario de contacto</li>
    </ul>

    <p>3) Utilidades Web:</p>
    <ul>
        <li>Motor de b&uacute;squeda</li>
        <li>Galer&iacute;a de im&aacute;genes</li>
        <li>Enlaces de inter&eacute;s / patrocinadores</li>
	<li>Contactar</li>
    </ul>

</div>
{% endblock%}