{% extends "_global/layout.html.twig" %}

{% block title parent() ~ " - Mantenimiento" %}

{% block content %}
<div class="panel1" style="background-image: url(images/mantenimiento.jpg); background-position: right top; background-repeat: no-repeat;">
        <p id="titulo">SERVICIO DE MANTENIMIENTO A EMPRESAS</p>

        <p id="subtitulo">ACTUACIONES PUNTUALES</p>
        <ul style="padding-right: 225px;">
            <li>Atendemos al cliente a petici&oacute;n.</li>
            <li>Coste por hora t&eacute;cnico 35&euro;(&sup1;).</li>
            <li>La primera hora se incrementa en 15&euro;(&sup1;) en concepto de desplazamiento.</li>
        </ul>

        <p id="subtitulo">BONO DE 10 HORAS</p>
        <ul>
            <li>Paquete de 10 horas en modalidad de prepago.</li>
            <li>Coste del paquete 375&euro;(&sup1;).</li>
            <li>No se factura desplazamiento.</li>
        </ul>

        <p id="subtitulo">CUOTA FIJA MENSUAL</p>
        <ul>
            <li>Incluye todas las actuaciones necesarias durante el mes.</li>
            <li>Incluye consultor&iacute;a inform&aacute;tica: asesoramiento en la adquisici&oacute;n de nuevas tecnolog&iacute;as que repercutan en una mayor productividad.</li>
            <li>Incluye actuaciones preventivas (planificaci&oacute;n de copias de seguridad, revisi&oacute;n de antivirus, etc.).</li>
            <li>Incluye tele-mantenimiento para aquellas actuaciones que no requieran la presencia in-situ.</li>
            <li>Descuento del 3% en el suministro de material inform&aacute;tico (equipos, repuestos y consumibles).</li>
            <li>No se factura desplazamiento.</li>
            <li>Cuota mensual a estudiar en cada caso.</li>
        </ul>

        <p>&nbsp;</p>
        <p>(&sup1;) Los importes indicados se refieren &uacute;nicamente a la mano de obra, excluyendo piezas y repuestos y se ver&aacute;n incrementados con el porcentaje de IVA vigente.
            Son v&aacute;lidos exclusivamente para clientes de Granada capital y cintur&oacute;n </p>

        <p>Para cualquier modalidad ser&aacute; necesario la domiciliaci&oacute;n bancaria de los recibos.</p>
        <p>&nbsp;</p>
        <a id="subtitulo" href="index.php?c=contactar">Deseo recibir m&aacute;s informaci&oacute;n</a>
</div>
{% endblock %}