{% extends "_global/layout.html.twig" %}

{% block title parent() ~ " - Saas" %}

{% block content %}
<div class="panel1">
    <div style="float:left;">
        <div id="titulofondoazul">Software como servicio SaaS o software Cloud</div>
        <div id="parrafo350px">
            Software como Servicio (del ingl&eacute;s: Software as a Service, SaaS) es un modelo de distribuci&oacute;n de software
            en donde la compa&ntilde;&iacute;a de tecnolog&iacute;as de informaci&oacute;n y comunicaci&oacute;n (IT) provee el servicio de mantenimiento, operaci&oacute;n diaria,
            y soporte del software usado por el cliente. El software puede ser consultado desde cualquier dispositivo (ordenador personal, pda, tel&eacute;fono m&oacute;vil) con conexi&oacute;n a internet,
            est&eacute; presente en la empresa o no.
            Es decir, la informaci&oacute;n y los resultados de la l&oacute;gica de negocio del software est&aacute;n hospedados en la compa&ntilde;&iacute;a de IT.
        </div>

        <div id="titulofondoazul">&iquest;Qu&eacute; ventajas tiene?</div>
        <div id="parrafo350px">
            <li>Acceso y administraci&oacute;n a trav&eacute;s de una red.</li>
            <li>Actividades gestionadas desde ubicaciones centrales, en lugar de desde la sede de cada cliente, permitiendo a los clientes el acceso remoto a las aplicaciones mediante la web.</li>
            <li>La distribuci&oacute;n de la aplicaci&oacute;n es m&aacute;s cercana al modelo uno-a-muchos (una instancia, m&uacute;ltiples usuarios) que al modelo uno-a-uno, incluyendo arquitectura, precios, colaboraci&oacute;n y administraci&oacute;n.</li>
            <li>Actualizaciones centralizadas, lo cual elimina la necesidad de descargar parches por parte de los usuarios finales.</li>
            <li>Frecuente integraci&oacute;n con una red mayor de software de comunicaci&oacute;n -bien como parte de un mashup o como un enlace para una Platform as a service.</li>
        </div>

        <div id="titulofondoazul">&iquest;En qu&eacute; salgo ganando?</div>
        <div id="parrafo350px">
            <li>El cliente no necesariamente debe tener un &aacute;rea especializada para soportar el sistema, por lo que baja sus costos y su riesgo de inversi&oacute;n.</li>
            <li>La responsabilidad de la operaci&oacute;n recae en la empresa IT. Esto significa que la garant&iacute;a de disponibilidad de la aplicaci&oacute;n y su correcta funcionalidad, es parte del servicio que da la compa&ntilde;&iacute;a proveedora del software.</li>
            <li>La empresa IT no desatiende al cliente. El servicio y atenci&oacute;n continua del proveedor al cliente es necesaria para que este &uacute;ltimo siga pagando el servicio.</li>
            <li>La empresa IT provee los medios seguros de acceso en los entornos de la aplicaci&oacute;n. Si una empresa IT quiere dar opciones SaaS en su cartera de productos debe ofrecer accesos seguros para que no se infiltren datos privados en la red p&uacute;blica.</li>
            <li>No es necesaria la compra de una licencia para utilizar el software, sino el pago de un alquiler o renta por el uso del software.</li>
            <li>Se le permite al cliente completa flexibilidad en el uso de los sistemas operativos de su preferencia, o al cual pueda tener acceso.</li>
        </div>
    </div>

    <div style="float:right; width: 45%;">
        
        <div style="height: 50px;float: right;">
        <object type="application/x-silverlight-2" data="data:application/x-silverlight-2," width="370" height="252" >
            <param name="source" value="http://www.microsoft.com/showcase/silverlight/player/1/player-es.xap" />
            <param name="initParams" value="Culture=es-es,Uuid=20d873e0-4a47-43df-bac6-a980e3d56520,Autoplay=False,MarketingOverlayText=Visit this video's website,ShowMarketingOverlay=true,MiscControls=FullScreen;Detached,ShowMenu=True,Tabs=Embed;Email;Share;Info,VideoUrl=http://microsoft.com/showcase/en/us/details/20d873e0-4a47-43df-bac6-a980e3d56520,Mode=Player" />
            <param name="enableHtmlAccess" value="true" />
            <param name="allowHtmlPopupwindow" value="true" />
            <param name="background" value="#FF000000" />
            <param name="minRuntimeVersion" value="3.0.40624.0" />
            <param name="autoUpgrade" value="true" />
            <a href="http://go.microsoft.com/fwlink/?LinkID=149156" style="text-decoration: none;" onmousedown="javascript:new Image().src = 'http://m.webtrends.com/dcsygm2gb10000kf9xm7kfvub_9p1t/dcs.gif?dcsdat=' + new Date().getTime() + '&dcssip=www.microsoft.com&dcsuri=' + window.location.href + '&WT.tz=-8&WT.bh=16&WT.ul=es-ES&WT.cd=32&WT.jo=Yes&WT.ti=&WT.js=Yes&WT.jv=1.5&WT.fi=Yes&WT.fv=10.0&WT.sli=Not%20Installed&WT.slv=Version%20Unavailable&WT.dl=1&WT.seg_1=Not%20Logged%20In&WT.vt_f_a=2&WT.vt_f=2&WT.vt_nvr1=2&WT.vt_nvr2=2&WT.vt_nvr3=2&WT.vt_nvr4=2&vp_site=Embedded&wtEvtSrc=' + window.location.href + '&vp_sli=Embedded'">
                <img src="http://img.microsoft.com/showcase/Content/img/resx/es-ES/installSL.gif" alt="Get Microsoft Silverlight" style="border-style: none"/>
            </a>
            <noscript>
                <div>
                    <img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://m.webtrends.com/dcsygm2gb10000kf9xm7kfvub_9p1t/njs.gif?dcsuri=/nojavascript&amp;WT.js=No"/>
                </div>
            </noscript>
        </object>
        </div>
        <div id="cajatpvnet">
        <p id="titulo"><a href="{{app.path}}/Tpvnet">TPVNET</a></p>
        <ul style="padding-right: 250px;">
            <li>Terminal Punto de Venta</li>
            <li>Cat&aacute;logo de productos, art&iacute;culos, stock, clientes.</li>
            <li>Tickets, facturas emitidas, arqueo de caja.</li>
            <li>Gesti&oacute;n de almac&eacute;n, inventarios, trapaso entre almacenes</li>
        </ul>
        </div>

        <div id="cajagesnet">
        <p id="titulo">&nbsp;<a href="{{app.path}}/Gesnet">GESNET</a></p>
        <ul style="padding-left: 250px;">
            <li>Sistema ERP de gesti&oacute;n comercial</li>
            <li>Gesti&oacute;n de permisos de usuarios.</li>
            <li>Ventas: formas de pago, presupuestos, albaranes, partes de trabajo, expediciones, facturas, arqueo de caja, gesti&oacute;n de cartera de recibos, emisi&oacute;n de remesas bancarias.</li>
            <li>Compras: pedidos, recepci&oacute;n de mercanc&iacute;a, conformaci&oacute;n de facturas, recibos de proveedores, agencias de transporte.</li>
            <li>Gesti&oacute;n de almac&eacute;n: inventarios, traspaso entre almacenes, m&aacute;ximos y m&iacute;nimos, impresi&oacute;n de  etiquetas.</li>
            <li>M&uacute;ltiples informes y estad&iacute;sticas.</li>
            <li>Generaci&oacute;n de boletines promocionales de productos.</li>
            <li>Env&iacute;os masivos de e-mails y sms.</li>
            <li>Vinculaci&oacute;n a la tienda online.</li>
        </ul>
        </div>

        <div id="cajawebnet">
        <p id="titulo"><a href="{{app.path}}/Webnet">WEBNET</a></p>
        <ul style="padding-right: 250px;">
            <li>Tienda online vinculada a la intranet de gesti&oacute;n comercial.</li>
            <li>Gestor de contenidos.</li>
            <li>Diferentes plantillas.</li>
            <li>Con y sin carrito de la compra.</li>
            <li>Con y sin pasarela de pago.</li>
            <li>Posibilidad de definir plantillas a medida de cada cliente.</li>
            <li>Gracias a la vinculaci&oacute;n con la base de datos de GESNET, el cat&aacute;logo de productos que se muestra en la tienda est&aacute; autom&aacute;tica y permanentemente actualizado.</li>
        </ul>
        </div>
    </div>

</div>
{% endblock %}